@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600;
}

.input {
  @apply bg-gray-700 border border-gray-600 pl-3 pr-4 py-1 rounded-md outline-none shadow-sm my-1;
}

body {
  overflow-x: hidden;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
